.Button {
    display: inline-flex;
    padding: 15px 35px;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border-radius: 10px;
}