.Input {
    display: flex;
    padding: 14px 19px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}